@model IEnumerable<FitRoutineApp.Web.Models.Sesion>

@{
    ViewData["Title"] = "Lista de Sesiones";
}

@section Estilos {
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet" />

    <style>
        .btn-exportar-excel {
            background-color: #198754 !important;
            color: white !important;
        }

        .btn-exportar-pdf {
            background-color: #dc3545 !important;
            color: white !important;
        }

        .btn-exportar-print {
            background-color: #00a7c9 !important;
            color: white !important;
        }
    </style>
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>¡Ok!</strong> @TempData["AlertMessage"]
    </div>
}

<p>
    <a onclick="showInPopup('@Url.Action("Crear", "Sesiones", new { id = 0 }, Context.Request.Scheme)', '')" class="btn btn-sm btn-primary text-white"><i class="fa fa-plus-circle"></i> Agregar una sesión</a>
</p>

<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center">
            <h5>Lista de Sesiones</h5>
        </div>
        <div class="card-body">
            <table id="sesiones" class="table table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Entrenador</th>
                        <th scope="col">Actividad</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                            <td>@item.Cliente.Nombre</td>
                            <td>@item.Entrenador.Nombre</td>
                            <td>@item.Actividad.Nombre</td>
                            <td>
                                <a onclick="showInPopup('@Url.Action("Editar", "Sesiones", new { id = item.Id }, Context.Request.Scheme)', '')" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil-alt"></i></a>
                                <button data-id="@item.Id" class="btn btn-outline-danger btn-sm deleteItem" data-bs-toggle="modal" data-bs-target="#deleteDialog">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_MostrarModal" />
<partial name="_ModalEliminar" />

@section Scripts {

    <script src="~/js/showmodal.js"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#sesiones').DataTable(
                {
                    "language": {
                        url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                    },
                    dom: "Bfrtip",
                    buttons: [
                        //excel
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fas fa-file-excel"></i>',
                            filename: 'Reporte Sesiones',
                            title: 'Lista de Sesiones',
                            exportOptions: {
                                columns: [1, 2, 3, 4]
                            },
                            className: 'btn-exportar-excel',
                        },
                        //pdf
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="fas fa-file-pdf"></i>',
                            filename: 'Reporte Sesiones',
                            title: 'Lista de Sesiones',
                            exportOptions: {
                                columns: [1, 2, 3, 4]
                            },
                            className: 'btn-exportar-pdf',
                        },
                        //print
                        {
                            extend: 'print',
                            text: '<i class="fas fa-print"></i>',
                            title: 'Lista de Sesiones',
                            exportOptions: {
                                columns: [1, 2, 3, 4]
                            },
                            className: 'btn-exportar-print'
                        },
                        //numero de paginas
                        'pageLength'
                    ]
                });
        });
    </script>

    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Sesiones/Eliminar/', false);
    </script>
}